apiVersion: serving.kserve.io/v1alpha1
kind: ServingRuntime
metadata:
  annotations:
    opendatahub.io/apiProtocol: REST
    opendatahub.io/recommended-accelerators: '["nvidia.com/gpu"]'
    opendatahub.io/runtime-version: v0.1.0
    opendatahub.io/template-display-name: KServe Custom Seq2Seq Engine
    opendatahub.io/template-name: kserve-seq2seq
    openshift.io/display-name: KServe Custom Seq2Seq Engine
  name: kserve-seq2seq
  labels:
    opendatahub.io/dashboard: "true"
spec:
  annotations:
    prometheus.kserve.io/path: /metrics
    prometheus.kserve.io/port: "8888"
  containers:
    - name: kserve-container
      image: quay.io/marcocaimi/kserve-seq2seq:latest
      imagePullPolicy: Always
      ports:
        - containerPort: 8080
          protocol: TCP
      volumeMounts:
        - mountPath: /dev/shm
          name: shm
  multiModel: false
  protocolVersions:
    - v1
  supportedModelFormats:
    - autoSelect: true
      name: pytorch
  volumes:
    - emptyDir:
        medium: Memory
        sizeLimit: 2Gi
      name: shm
